* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
below8 body {
  background-color: #fff;
}

.main-header {
  width: 100%;
  height: 45px;
  background-color: lightgrey;
  margin-bottom: 45px;
}
.div-1 {
  margin-top: 0px;
  width: 100%;
  height: 60px;
  background-color: lightgrey;
  margin-bottom: 30px;
}

.div-2 {
  width: 37%;
  height: 60px;
  background-color: lightgrey;
  margin: auto;
}

.big-box1 {
  float: left;
  width: 49%;
  height: 600px;
  background-color: lightgrey;
  margin-top: 45px;
}

.big-box2 {
  float: right;
  width: 49%;
  height: 600px;
  background-color: lightgrey;
  margin-top: 45px;
}

.main-outerbox::after {
  content: "";
  clear: both;
  display: block;
}

.div-5 {
  width: 47%;
  height: 60px;
  background-color: lightgrey;
  margin: auto;
  margin-top: 48px;
}

.box-1 {
  float: left;
  width: 20%;
  height: 200px;
  background-color: lightgrey;
  margin-top: 45px;
  margin-right: 15px;
}

.box-2 {
  float: left;
  width: 20%;
  height: 200px;
  background-color: lightgrey;
  margin-top: 45px;
  margin-right: 15px;
}

.box-3 {
  float: left;
  width: 20%;
  height: 200px;
  background-color: lightgrey;
  margin-top: 45px;
  margin-right: 15px;
}

.box-4 {
  float: left;
  width: 20%;
  height: 200px;
  background-color: lightgrey;
  margin-top: 45px;
  margin-right: 15px;
}

.fourboxes-1::after {
  content: "";
  clear: both;
  display: block;
  padding-left: 30px;
  padding-right: 30px;
}

.box-5 {
  float: left;
  width: 20%;
  height: 200px;
  background-color: lightgrey;
  margin-top: 18px;
  margin-right: 15px;
}

.box-6 {
  float: left;
  width: 20%;
  height: 200px;
  background-color: lightgrey;
  margin-top: 18px;
  margin-right: 15px;
}

.box-7 {
  float: left;
  width: 20%;
  height: 200px;
  background-color: lightgrey;
  margin-top: 18px;
  margin-right: 15px;
}

.box-8 {
  float: left;
  width: 20%;
  height: 200px;
  background-color: lightgrey;
  margin-top: 18px;
  margin-right: 15px;
}

.fourboxes-2::after {
  content: "";
  clear: both;
  display: block;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 15px;
}

.below8 {
  width: 57%;
  height: 66px;
  background-color: lightgrey;
  margin-left: 153px;
  margin-top: 45px;
}

.article1 {
  margin-left: 200px;
  margin-bottom: 50px;
}

.article2 {
  margin-left: 200px;
}

/* .box-below {
  width: 80%;
  background-color: lightgrey;
  height: 80px;

  margin-left: 135px;
} */

.large3 {
  width: 100%;
  height: 800px;
  background-color: lightgrey;
  margin-top: 60px;
  display: float;
}

.innerbox02 {
  width: 29%;
  height: 630px;
  background-color: #fff;
  float: left;
  margin-top: 90px;
  margin-left: 36px;
}

.innerbox03 {
  width: 29%;
  height: 630px;
  background-color: #fff;
  float: left;
  margin-top: 90px;
  margin-left: 36px;
}

.innerbox01 {
  width: 29%;
  height: 630px;
  background-color: #fff;
  float: left;
  margin-top: 90px;
  margin-left: 36px;
}
.subheader,
.subheader-2,
.subheader-3 {
  width: 80%;
  height: 60px;
  background-color: lightgrey;
  margin-left: 35px;

  margin-top: 36px;
  margin-bottom: 18px;
}

.alignment {
  margin-left: 25px;
  margin-top: 36px;
}

.subbox-1 {
  width: 80%;
  height: 225px;
  background-color: lightgrey;
  margin-top: 30px;
  margin-left: 35px;
}

.subbox-2 {
  width: 80%;
  height: 225px;
  background-color: lightgrey;
  margin-top: 27px;
  margin-left: 35px;
}

.large3::after {
  content: "";
  clear: both;
  display: block;
}

.below3header {
  width: 30%;
  margin-top: 45px;
  margin-left: 500px;
  background-color: lightgrey;
  height: 81px;
}

.below3header2,
.below3header5 {
  width: 63%;
  margin-top: 27px;
  margin-left: 279px;
  background-color: lightgrey;
  height: 81px;
}

.below3header3 {
  width: 63%;
  margin-top: 27px;
  margin-left: 279px;
  background-color: lightgrey;
  height: 81px;
}
.below3header4 {
  width: 63%;
  margin-top: 27px;
  margin-left: 279px;
  background-color: lightgrey;
  height: 81px;
}

.below3header4 {
  width: 63%;
  margin-top: 27px;
  margin-left: 279px;
  background-color: lightgrey;
  height: 369px;
}

.belowbox-1 {
  float: left;
  width: 405px;
  height: 63px;
  background-color: lightgrey;
  margin-top: 15px;
  margin-left: 278px;
}
.belowbox-2 {
  float: right;

  width: 405px;
  height: 63px;
  background-color: lightgrey;
  margin-top: 15px;
  margin-right: 221px;
}

.below2boxes::after {
  content: "";
  clear: both;
  display: block;
}

.last-box {
  width: 100%;
  margin-top: 45px;
  height: 300px;
  background-color: lightgrey;
}

.last-box {
  display: float;

  justify-items: space-between;
}

.lastside-1 {
  width: 47%;
  height: 250px;
  float: left;
  background-color: white;
  margin-top: 27px;
  margin-left: 27px;

  /* margin: auto; */
}

.lastside-2 {
  width: 47%;
  height: 250px;
  float: right;
  background-color: white;
  /* margin: auto; */
  margin-top: 27px;
  margin-right: 27px;
}
